.open-menu-list-animation {
    animation-name: open-menu-list;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes open-menu-list {
    from {
        opacity: 0;
        top: 250px;
    }
    80% {
        top: -50px;
    }
    to {
        opacity: 0.7;
        top: -10px;
    }
}

@keyframes emercion{
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}