.auth {
    position: fixed;
    height: 500px;
    width: 510px;
    margin: auto;
    border: solid 5px #000000;
    background-color: #ffffff;
    border-radius: 20px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -250px;
    z-index: 20;

    @include respond-to(tablet){
    }
    @include respond-to(mobile){
        height: 300px;
        width: 310px; 
        margin-left: -150px; 
        margin-top: -150px;          
    } 

    .auth-close {
        font-size: 26px;
        line-height: 30px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -5px;
        right: -5px;
        border: solid 5px #000000;
        border-radius: 50%;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
    }

    h1 {
        font-size: 36px;
        font-family: $Engine;
        margin: 50px 10px 40px 10px;
        text-align: center;
        @include respond-to(mobile){
            font-size: 24px;
            margin: 10px 10px 40px 10px;
        } 
    }
    .auth-fb {
        background-image: url('./../img/1493184405_facebook.png');
    }
    .auth-vk {
        background-image: url('./../img/1493184426_vk.png');
    }
    .auth-fb, .auth-vk {
        display: inline-block;
        width: 248px;
        font-size: 80px;
        font-family: $Engine;
        text-align: center;
        height: 250px;
        line-height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        @include respond-to(mobile){
            width: 148px;
            height: 150px;
            line-height: 100px;
            font-size: 50px;
        }

        &:hover {
            cursor: pointer;
        } 
    }

    .auth-block{
        width: 250px;
        margin: auto;
    }

}

        