.content-country {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    
    @include respond-to(tablet){
        margin-top: 20px
    }
    @include respond-to(mobile){
        margin-top: 10px
    } 

    .articles {
        .article {
            margin-bottom: 50px;
            .article-text {
                a:hover {
                    color: #000000;
                    font-weight: bold;
                    text-decoration: none;
                    h1 {
                        color: #5F74AA;
                    }
                }
                h1{
                    color: $menuTextColor;
                    font-family: $Engine;
                    font-size: 28px;
                    @include respond-to(mobile){
                        margin-top: 16px
                    } 
                }
                p{
                    color: $menuTextColor;
                    font-family: $Engine;
                    font-size: 18px;
                    word-wrap: break-word;
                    @include respond-to(mobile){
                        margin-top: 14px
                    }
                }
                .article-marks,
                .article-marks a,
                .article-author,
                .article-author a {
                    color: $menuTextColor;
                    font-family: $Engine;
                    font-size: 18px;
                    text-decoration: none;
                    @include respond-to(mobile){
                        margin-top: 14px
                    } 
                }
                .article-marks,
                .article-author {
                    a {
                        margin-right: 5px;
                        display: inline;
                    }
                    /*a:hover {
                        color: #000000;
                        font-weight: bold;
                    }*/
                }
            }
        }
    }
    .soc-seti-center {
        margin-top: 50px;
    }
}
