.footer {
    margin-top: 200px;
    .seetoo {
        max-width: 1200px;
        width: 100%;
        margin: auto;
        h1 {
            font-family: $Engine;
            font-size: 20px;
            margin: 20px 0 10px 20px;
        }
        .seetoo-popular {
            height: 250px;
            .random-article {

                a {
                    &:hover {
                        text-decoration: none;
                    }
                    div {
                        width: 100%;
                        height: 150px;
                        overflow: hidden;
                    }
                    span {
                        font-family: $Engine;
                        text-decoration: none;
                        font-size: 18px;
                    }
                }
            }
        }


    }

    .footer-about {
        width: 1200px;
        max-width: 100%;
        margin: auto;
        position: relative;
        z-index:2;


        table {
            width: 100%;
            /*background-color: #a1a1a4;*/
            @include respond-to(medium){
                border-top: solid 3px #080808;
            }
            @include respond-to(tablet){
                border-top: solid 3px #080808;
            }
            @include respond-to(mobile){
                border-top: solid 3px #080808;
            }
            td {
                height: 30px;
            }
            tr:nth-child(1){
                td:nth-child(2) {
                }
            } 
            tr:nth-child(3) {
                text-align: left;
            }
        }
    }
    .marks {
        p {
            word-wrap: break-word;
            a {
                margin-right: 10px;
                vertical-align: middle;
                font-family: $Engine;
            }
            a:hover {
                text-decoration: none;
                font-weight: bold;
            }
        }
    }

}
.footer-line {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    z-index: 0;
    border-top: solid 3px #080808;
    @include respond-to(medium){
        display: none;
    }
    @include respond-to(tablet){
        display: none;
    }
    @include respond-to(mobile){
        display: none;
    } 
}

.footer-mobile {
    margin-top: 50px;
    .seetoo-popular {
            .random-article {
                a {
                    &:hover {
                        text-decoration: none;
                    }
                    div {
                        width: 100%;
                        height: 100px;
                        overflow: hidden;
                    }
                    span {
                        font-family: $Engine;
                        text-decoration: none;
                        font-size: 18px;
                    }
                }
            }
        }

    .footer-about {
        width: 1200px;
        max-width: 100%;
        margin: auto;
        position: relative;


        table {
            width: 100%;
            /*background-color: #a1a1a4;*/
            @include respond-to(medium){
                border-top: solid 3px #080808;
            }
            @include respond-to(tablet){
                border-top: solid 3px #080808;
            }
            @include respond-to(mobile){
                border-top: solid 3px #080808;
            }
            td {
                height: 30px;
            }
            tr:nth-child(1){
                td:nth-child(2) {
                    div {
                        float: right;
                    }
                }
            } 
            tr:nth-child(3) {
                text-align: right;
            }
        }
    }
    .marks {
        margin-bottom: 100px;
        margin-top: 50px;
        h1 {
            font-size: 18px;
        }
        p {
            word-wrap: break-word;
            /*line-height: 60px;*/
            /*vertical-align: text-bottom;*/
            a {
                margin-right: 10px;
                vertical-align: middle;
                font-family: $Engine;
            }
            a:hover {
                text-decoration: none;
                font-weight: bold;
            }
        }
    }    
}