header {
    width: 100%;
    position: relative;
    height: auto;

    .country-img {
        margin-top: 40px;
    }

    .menu {
        position: absolute;
        width: 1200px;
        top: 0px;
        left: 50%;
        margin-left: -600px;

        @include respond-to(medium){
            margin-left: 0;
            left: 0;
            width: 100%;
        }
        @include respond-to(tablet){
            margin-left: 0;
            left: 0;
            width: 100%;
        }
        @include respond-to(mobile){
            margin-left: 0;
            left: 0;
            width: 100%;            
        } 


        .menu-cell {
            position: relative;
            
            span, a  {
                text-decoration: none;
                font-size: 24px;
                color: $menuTextColor;
                font-weight: bold;
                font-family: $Engine;

                @include respond-to(tablet){
                    font-size: 20px;
                    font-weight: none;
                }
            }

            .menu-list {
                display: none;
            }
            .mobi-menu-icon {
                margin-top: 5px;
                width: 24px;
                height: 24px;
                background: url('./../img/menu.png') no-repeat; 
                background-size: 100%;
            }
/*            .menu-list-search {
                display: none;
            }*/
        }

        .menu-language {
            div:first-child {
                margin-top: 10px;
                text-align: center;
            }
            &:hover div:first-child {
                display: none;
            }
            ul {
                li:hover {
                    background-color: #807B7B;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }

        .menu-cell-search {
            padding: 0;
            position: relative;
            input[type="text"]{
                padding: 0 5px 0 5px;
                width: 100%;
                margin-top: 9px;
                border-width: 1px;
                border-radius: 10px;
                border-color: $menuTextColor;
                outline: none;
                background-color: rgba(0,0,0,0);
                @include respond-to(tablet){
                    margin-top: 4px;
                    font-size: 12px;
                }
            }
            input[type="button"]{
                position: absolute;
                border: none;
                top: 12px;
                right: 2px;
                z-index: 5;
                @include respond-to(tablet){
                    top: 10px;
                }
            }
        }

/*        .menu-cell:hover .menu-list-search {
            display: block;
            position: relative;
            z-index: 5;
            background-color: #949ca1;
            width: 250px;
            left: -20px;
            margin-top: 20px;
            border-radius: 5px;
            padding: 10px;
            form{
                input{
                    border-radius: 5px;
                    &:nth-child(1) {
                        width: 150px;
                    }
                    &:nth-child(2) {
                        width: 75px;
                    }
                }
            }

        }*/

        .menu-cell:hover .menu-list {

            display: block;
            position: relative;
            z-index: 5;
            background-color: #949ca1;
            width: 100px;
            left: -20px;
            padding: 10px;
            border-radius: 5px;
            margin-top: 10px;
            ul {
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: $menuTextColor;
                        font-size: 20px;
                        font-family: $Engine;
                    }
                    
                }
                li a:hover {
                    color: #ffffff;
                    cursor: pointer;
                }
            }
        }
    }
    
    .mobi-menu {
        
        position: absolute;
        z-index: 5;
        top: 30px;
        background-color: #33424f;
        width:50%;
        min-width: 40%;
        opacity: 0.85;
        padding-left: 20px;
        margin-left: 10%;

        .close-mobi-menu {
            position: absolute;
            top: 5px;
            right: 5px;
            color: $wc;
            font-size: 20px;

            &:hover {
                cursor: pointer;
            }
        }

        div {
            a, span {
                font-size: 24px;
                color: $wc;
                font-weight: bold;
                font-family: $Engine;
                text-decoration: none;
                text-align: center;
                margin-left: 10%;
            }
            a:hover{
                color: #B3B0B0;
                cursor: pointer;
            }
        }
        .journal {
            .mobi-menu-list {
                padding-left: 20px;
                ul {
                    list-style: none;
                }
                a {
                    color: $wc;
                    font-size: 20px;
                    font-family: $Engine;
                }
                a:hover{
                    color: $menuTextColor;
                    cursor: pointer;
                }
            }
        }

    }  

    .titul {
        display: none;
        position: absolute;
        top: 10%;
        width: 100%;
        margin: auto;

        @include respond-to(mobile){
            top: 25%;       
        }

/*        animation-name: emercion;
        animation-duration: 10s;*/

        span {
            display: inline-block;
            width: 100%;
            color: $menuTextColor;
            text-align: center;
            font-family: $Engine;
            
            &:nth-child(1) {
                font-size: 150px;
                line-height: 0.85em;
                letter-spacing: 10px; 
                @include respond-to(tablet){
                    font-size: 80px;
                }
                @include respond-to(mobile){
                    font-size: 40px;       
                }           
            }
            &:nth-child(3) {
                font-size: 40px;
                @include respond-to(tablet){
                    font-size: 30px;
                }
                @include respond-to(mobile){
                    font-size: 20px;       
                } 
            }
        }
    }

    .country-name {
        display: none;
        width: 100%;
        position: absolute;
        bottom: 30px;
        text-align: center;
        background-color: #dad8d5;
        opacity: 0.7;
        color: $menuTextColor;
        font-family: $Engine;
        font-size: 48px;

/*        animation-name: emercion;
        animation-duration: 10s;*/

        @include respond-to(tablet){
            font-size: 36px;
            bottom: 20px;
        }
        @include respond-to(mobile){
            font-size: 24px;
            bottom: 10px;
        } 
    } 
    .article-name {
        display: none;
        width: 100%;
        position: absolute;
        bottom: 30px;
        text-align: center;
        background-color: #dad8d5;
        opacity: 0.7;
        color: $menuTextColor;
        font-family: $Engine;
        font-size: 48px;
/*
        animation-name: emercion;
        animation-duration: 10s;*/


        @include respond-to(tablet){
            font-size: 36px;
            bottom: 20px;
        }
        @include respond-to(mobile){
            font-size: 24px;
            bottom: 10px;
        } 
    }      
}
