.home {

    .marks{
        background-color: gray;
        height: 800px;
        min-height: 200px;
        font-family: Engine, sans-serif;

        @include respond-to(mobile){
            height: auto;
        }
        @include respond-to(tablet){
            height: auto;
        }

        .marker {
            float: left;    
            text-decoration: none;
            color: #ffffff;
        }
        .marker:hover{
            color: #000000;
        }

        .marks-inline {
            display: inline;
        }    
    }

    .box-border {
        border: solid black 2px;
    }
}