.main {
	font-size: 3rem;
	@include respond-to(mobile){
		font-size: 2rem;
	}
	@include respond-to(tablet){
		font-size: 2rem;
	}	
	h1 {
		font-size: 5rem;
	}
	h3{
		font-size: 4rem;
	}
	.about {
		
	}
	.marks {
		background-color: #B1A8A8;
		
		.marker {
			float: left;	
			text-decoration: none;
			color: #6A6969;

		}

	}
}