.map-content {
    width: 90%;
    margin: auto;
    h1 {
        color: $menuTextColor;
        font-family: $Engine;
        font-size: 24px;
        margin: 50px 0 20px 0;
    }
    .map {
        width: 100%;
    }
    .soc-seti-center {
        margin-top: 40px;
    }
}