.menu {
    font-family: Engine, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    
    div {
        display: inline-block;
        text-align: center;
    }

    @include respond-to(tablet){
        font-size: 1.5rem
    }
    @include respond-to(mobile){
        font-size: 2rem;
    }

    a {
        color: #FFFFFF;
    }

    .menu-element {
        position: relative;
    }

    .menu-element:hover .menu-element-list {
        display: block;
    }
    
    .menu-element-list {
        display: none;
        position: absolute;
        top: 40px;
        z-index: 5;
        width: 100%;

/*        opacity: 0.9;       
        background-color: #E6E9EF;
        border: solid 2px #FFFFFF;
        border-radius: 5px;*/

        @include respond-to(tablet){
            top: 20px;  
        }
        @include respond-to(mobile){
            top: 20px;
            width: 50%;
            left: 25%;
        }    
    }
    .sprite {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-image: url("../img/Sots_seti.png");
    }
    .sprite-vk {
        background-position: 0;
    }
    .sprite-in {
        background-position: 40px 0;
    }
    .sprite-fb {
        background-position: 90px 0;
    }

}