.menu {
	a {
		color: white;
		text-decoration: none;
	}

	a:hover {
		color: #0A3194;
	}
	div {
		text-align: center;
	}
	.menu-element {
		position: relative;
	}
	.menu-element:hover .menu-element-list {
		display: block;
	}
	.menu-element-list {
		display: none;
		position: absolute;
		opacity: 0.7;
		top: 35px;
		background-color: #E6E9EF;
		z-index: 5;
		width: 100px;
		border: solid 2px #FFFFFF;
		border-radius: 20px;
	}
	.menu-element-list a{
		text-decoration: none;
	}
	.sprite {
		display: inline-block;
		width: 40px;
		height: 40px;
		background-image: url("Sots_seti.png");
	}
	.sprite-vk {
		background-position: 0;
	}
	.sprite-in {
		background-position: 40px 0;
	}
	.sprite-fb {
		background-position: 90px 0;
	}
}