body {
    height: 100%;
    background-color: #ffffff;

    .wrapper {
        position: relative;
        min-height: 100%;
        background-color: #ede8dc;
        background-color: #ffffff;

        .content {
            padding-bottom: 1210px;  
            margin: auto;
            @include respond-to(mobile){
                padding-bottom: 10px;
            }
        }   

        .footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1200px;
            background-color: #ffffff;

            @include respond-to(mobile){
                display: none;
            }
        }
        .footer-mobile {
            display: none;
            @include respond-to(mobile){
                display: block;
            }            
        }
    }
}

.clear-both {
    clear: both;
}

.design {
    width: 100%;
    height: 300px;
    line-height: 300px;
    margin-top: 100px;

    h1 {
        font-family: $Engine;
        font-size: 60px;
        text-align: center;
        vertical-align: middle;  
    }
}