$Engine: Engine-Regular, arial, verdana, geneva, lucida, 'lucida grande', helvetica, sans-serif;

$Tahoma: tahoma, arial, verdana, geneva, lucida, 'lucida grande', helvetica, sans-serif;

$menuTextColor: #33424f;

$wc: #ffffff;
$basic_color: #33424f;