<header-dir></header-dir>
<auth-dir></auth-dir>
<div class="content-article">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 article-body">
                <h1>{{article.data}}</h1>
                <div class="text" ng-bind-html="articleText"></div>
                <div class="author">
                    <a href="#/marks/{{article.authorUrl}}">{{article.author}}</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>
        <div class="article-photos">  
            <div class="row">
                <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"> -->
                <!-- before reclame -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <table lightbox="article.photos">
                        <tr ng-repeat="tr in imgArray">
                            <td ng-repeat="td in imgArray[$index]">
                                <a href="{{td.src}}" class="lightbox-trigger">
                                    <div style="background-image: url({{td.src}})" data-number="{{td.alt}}"></div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- before reclame -->
<!--                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    
                </div> -->
            </div>
        </div>
    </div>


    <div class="soc-seti-center">
        <div class="vk-center" fb-dir id="vkShare" picture="{{article.picture}}" name="{{article.title}}" description="{{article.anatation}}"></div>
        <div class="fb-center" fb-dir id="fbShare" picture="{{article.picture}}" name="{{article.title}}" description="{{article.anatation}}">
            <img src="/media/images/fb.png" alt="">
        </div>
    </div>


    <comments-dir ></comments-dir>

</div>