<div class="comments-wrapper">
    <h1>{{dictionary.leaveComment}}:</h1>
    <form name="comment-form">
        <p ng-show="userConfig.isAuth"><span>{{userConfig.first_name}} {{userConfig.last_name}}:</span></p>
        <textarea placeholder="{{dictionary.sendComment}}" ng-model="answer.text" ng-click=" authVisible=1"></textarea></br>
        <input type="submit" value="{{dictionary.sendComment}}" ng-click="sendComment(answer)" ng-disabled="!userConfig.isAuth">
    </form>
    <h1>{{dictionary.comments}}:</h1>

    <div class="container">
        <div class="row comment-row" ng-repeat="comment in c track by $index">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <a href="{{comment.link}}">
                    <img ng-src="{{comment.picture}}" alt="{{comment.picture}}">
                </a>
                </div>
            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9">
                <p><span>{{comment.first_name}}</span><span>{{comment.last_name}}</span></p>
                <p class="comment-text">{{comment.text}}</p>
            </div>
            <div class="col-lg-1 col-md-1"></div>
        </div>
    </div>
</div>


<!-- action="{{'/requests/'+article.url+'/addcomment/'}}" -->