
	<div menu-dir></div>
	</br>
	</br>

	<div class="container-fluid main country">
		<div class="row" ng-repeat="article in articles">
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<img ng-src="{{article.picture}}" class="img-responsive">
				<br/>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 marks">
				<a ng-href="#/article/{{article.title}}">
					<h3>{{article.title}}</h3>
				</a>
				<p class="article-text">{{article.text}}</p>
				<h3>Метки:</h3>
				<a class="marker" ng-repeat="mark in article.marks">{{mark}}&nbsp;</a>
			</div>
			<div class="col-lg-1 col-md-1"></div>	
		</div>
	</div>