<header-dir></header-dir>

<div class="content-country">
    <div class="container articles">
        <div class="row article" ng-repeat="article in articles">
            <div class="col-lg-2 col-md-1 col-sm-1"></div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <a href="#/article/{{article.url}}" style="display: block;width: 100%;height: 150px; overflow: hidden;"><img ng-src="{{article.picture}}" width="100%" alt=""></a>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 article-text">
                <a href="#/article/{{article.url}}"><h1>{{article.title}}</h1></a><br/>
                <p>{{article.anatation}}</p><br/>
                <p class="article-marks">Метки: <a href="#/mark/{{mark.url}}" ng-repeat="mark in article.marks">{{mark.name}}</a></p>
                <p class="article-author">Автор: <a href="#/author/{{article.authorUrl}}">{{article.author}}</a></p>
            </div>
            <div class="col-lg-2 col-md-1 col-sm-1"></div>
        </div>
    </div>

    <div class="soc-seti-center">
        <div class="vk-center" fb-dir id="vkShare" picture="{{country.picture}}" name="{{country.title}}" description="Статьи о стране {{country.title}}"></div>
        <div class="fb-center" fb-dir id="fbShare" picture="{{country.picture}}" name="{{country.title}}" description="Статьи о стране {{country.title}}">
            <img src="/media/images/fb.png" alt="">
        </div>
    </div>

</div>