<footer>
    <div class="footer_cell footer_cell_25">
        <p>© 2016-2017 #Alohafriends</p>
        <p>Сайт размещен на mchost.ru</p>
        <p>created by Nikolay Kruhol</p>
    </div>
    <div class="footer_cell footer_cell_50">
        <p>#ALOHAFRIENDS</p>
        <p><i>Wedding travel around the World</i></p>
        <p>
            <a href="#">Дневник</a><span> /</span>
            <a href="#">Полезное</a><span> /</span>
            <a href="#">Партнеры</a><span> /</span>
            <a href="#">О нас</a><span> /</span>
            <a href="#">Связь</a><span> /</span>
        </p>
    </div>
    <div class="footer_cell footer_cell_25">
        
    </div>
</footer>