<div class="footer">
    <div class="seetoo">
        
        <div class="container">
            <div class="row seetoo-popular" randomarticle-dir style="border-top: solid 1px black">

            </div>
            <div class="row seetoo-middle"></div>
            <div class="row seetoo-bottom" style="border-top: solid 1px black">
                <div class="hidden-lg hidden-md col-sm-6 col-xs-12">    
                    
                </div>                
                <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">    
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Falohafriendss&tabs=timeline&width=250&height=520&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="250" height="550" style="border:none;overflow:hidden;margin-top: 15px" scrolling="no" frameborder="0" allowTransparency="true"></iframe>                    
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div id="vk_groups" style="position: static; margin-top: 15px;"></div>
<!--                     <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", {mode: 0, width: "250", height: "520"}, 59665172);
                    </script> -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
                     <br/>
                     <iframe src="//widget.instagramm.ru/?imageW=2&imageH=3&thumbnail_size=117&type=0&typetext=alohafriendss_&head_show=1&profile_show=1&shadow_show=1&bg=ffffff&head_bg=46729b&subscribe_bg=ad4141&border_color=c3c3c3" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:260px;height:600px;"></iframe>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h1 ng-show="isRu">Метки:</h1>
                    <h1 ng-show="!isRu">Marks:</h1>

                    <mark-dir class="marks"></mark-dir>

                </div>
            </div>
        </div>
    </div>

    <div class="footer-about">
        <table>
            <tr>
                <td>@ #Alohafriends</td>
                <td></td>
            </tr>
            <tr>
                <td>При копировании материалов с данного сайта ссылка на источник обязательна</td>
                <td style="text-align: right">
                    <div class="socseti sprite vk" style="float: right;"></div>
                    <div class="socseti sprite fb" style="float: right;"></div>
                    <div class="socseti sprite inst" style="float: right;"></div>
                </td>
                
            </tr>
            <tr>
                <td style="text-align: left">Сайт размещен на хостинге <a href="https://mchost.ru/?referer=2154603244" target="_blank">mchost.ru</a></td>
                <td>created by <a href="#" target="_blank">Nikolay Krugol</a></td>
            </tr>
        </table>
    </div>
</div>


<div class="footer-mobile">
    <div class="container-fluid">
                
<!--         <div class="row seetoo-popular" randomarticle-dir>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            </div>
        </div> -->

        <div class="row">
            <br/>
            <div class="col-sm-12 marks">
                    <h1 ng-show="isRu">Метки:</h1>
                    <h1 ng-show="!isRu">Marks:</h1>

                    <mark-dir class="marks"></mark-dir>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Falohafriendss&tabs=timeline&width=250&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="250" height="300px" style="border:none;overflow:hidden;margin-top: 30px" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div id="vk_groups2" style="position: static; margin: auto;"></div>
          <!--       <script type="text/javascript">
                VK.Widgets.Group("vk_groups2", {mode: 0, width: "250", height: "400px"}, 59665172);
                </script> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <iframe src="//widget.instagramm.ru/?imageW=2&imageH=2&thumbnail_size=117&type=0&typetext=alohafriendss_&head_show=1&profile_show=1&shadow_show=1&bg=ffffff&head_bg=46729b&subscribe_bg=ad4141&border_color=c3c3c3" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:260px;height:726px;"></iframe>
            </div>
        </div>
    </div>

    <div class="footer-about">
        <table>
            <tr>
                <td>@ #Alohafriends</td>
                <td>
                    <a href="https://vk.com/alohafriendss"></a><div class="socseti sprite vk"></div></td>
                    <a href="https://www.facebook.com/alohafriendss/"></a><div class="socseti sprite fb"></div></td>
                    <a href="https://www.instagram.com/alohafriendss_/"></a><div class="socseti sprite inst"></div></td>
                    <a href="https://www.youtube.com/channel/UCae3oyjCHneCHuPNMrgAcBQ" target="_blank"><div class="socseti sprite youtube"></div></a>
                </td>
            </tr>
            <tr>
                <td>При копировании материалов с данного сайта ссылка на источник обязательна</td>
                <td></td>
            </tr>
            <tr>
                <td>Сайт размещен на хостинге <a href="https://mchost.ru/?referer=2154603244" target="_blank">mchost.ru</a></td>
                <td>created by <a href="#" target="_blank">Nikolay Krugol</a></td>
            </tr>
        </table>
    </div>

</div>