<header ng-controller="headerCtrl">
    <img alt="" width="100%" id="header-img">
    <div id="menu-row"></div>
    <div class="container-fluid menu">
        <div class="row">
            <div class="col-lg-1 col-md-1 hidden-sm col-xs-1"></div>
            <div class="hidden-lg hidden-md hidden-sm col-xs-2 menu-cell">
                <div class="mobi-menu-icon" ng-click="mobiMenuVisible=1"></div>
            </div>
            <div class="hidden-lg hidden-md hidden-sm col-xs-6">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs menu-cell text-center">
                <a href="#/">#Alohafriends</a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs menu-cell text-center">
                <span>{{dictionary.journal}}</span>
                <div class="menu-list">
                    <ul>
                        <li ng-repeat="country in countries"><a href="#/country/{{country.url}}">{{country.title}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs menu-cell text-center">
                <a href="#/map">{{dictionary.map}}</a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs menu-cell text-center">
                <a href="#/design">{{dictionary.projects}}</span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs menu-cell text-center">
                <a href="#/design">{{dictionary.partners}}</a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs menu-cell">
                <a href="#/contacts">{{dictionary.communication}}</a>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs menu-cell menu-cell-search text-center">
                <form name="search">
                    <input type="text" ng-model="markSearch.text">
                    <input type="button" value="search" class="sprite search" ng-click="getSearch(markSearch)">
                </form>
            </div>

            <div class="col-lg-1 col-md-2 col-sm-2 hidden-xs menu-cell text-center">
                <a href="https://vk.com/alohafriendss" target="_blank"><div class="socseti sprite vk"></div></a>
                <a href="https://www.facebook.com/alohafriendss/" target="_blank"><div class="socseti sprite fb"></div></a>
                <a href="https://www.instagram.com/alohafriendss_/" target="_blank"><div class="socseti sprite inst"></div></a>
                <a href="https://www.youtube.com/channel/UCae3oyjCHneCHuPNMrgAcBQ" target="_blank"><div class="socseti sprite youtube"></div></a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 menu-cell menu-language text-center">
                <div>
                    <i id="language-flag"></i>
                </div>
                <div class="menu-list" style="text-align: center; top: 3px;">
                    <ul class="ul-language">
                        <li><i class="flag-RU" ng-click="changeRuLanguage()"></i></li>
                        <li><i class="flag-GB" ng-click="changeEngLanguage()"></i></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 hidden-md hidden-sm col-xs-1"></div>
        </div>  
    </div>

    <!-- this is mobi menu -->
    <div ng-show="mobiMenuVisible" style="width:100%; height: 100%; position:fixed; top: 0px; z-index:3;" ng-click="mobiMenuVisible=0"></div>
    <div class="mobi-menu" ng-show="mobiMenuVisible">
        <!-- <div class="close-mobi-menu" ng-click="mobiMenuVisible=0">X</div> -->
        <div><a href="#/">#Alohafriends</a></div>
        <div class="journal">
            <span>{{dictionary.journal}}</span>
            <div class="mobi-menu-list">
                <ul>
                    <li ng-repeat="country in countries"><a href="#/country/{{country.url}}">{{country.title}}</a></li>
                </ul>
            </div>
        </div>
        <div><a href="#/map">{{dictionary.map}}</a></div>
        <div><a href="#/design">{{dictionary.projects}}</a></div>
        <div><a href="#/design">{{dictionary.partners}}</a></div>
        <div><a href="#/contacts">{{dictionary.communication}}</a></div>
    </div>

    <!-- this are tituls for pages -->

    <div class="titul" id="titul">
        <span>
            #ALOHAFRIENDS
        </span><br/>
        <span>
            Wedding travel around the World
        </span>
    </div>
    <div class="country-name" id="country-name">{{country.title}}</div>
    <div class="article-name" id="article-name">{{article.title}}</div>

</header>