<header ng-controller="headerCtrl">
    <img alt="" width="100%" id="header-img">
    <div id="menu-row"></div>
    <div class="container-fluid menu">
        <div class="row">
            <div class="col-lg-1 col-md-1 hidden-sm col-xs-1"></div>
            <div class="hidden-lg hidden-md hidden-sm col-xs-2 menu-cell">
                <div class="mobi-menu-icon" ng-click="mobiMenuVisible=1"></div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs menu-cell">
                <a href="#/">#Alohafriends</a>
            </div>
            <div class="hidden-lg hidden-md hidden-sm col-xs-3"></div>
            <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs menu-cell">
                <span>Дневник</span>
                <div class="menu-list open-menu-list-animation">
                    <ul>
                        <li ng-repeat="country in countries"><a href="#/country/{{country.url}}">{{country.title}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs menu-cell">
                <a href="#/map">Карта</a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs menu-cell">
                <a href="#/design">Проекты</span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs menu-cell">
                <a href="#/design">Партнеры</a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs menu-cell">
                <a href="#/contacts">Связь</a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs menu-cell">
                <div class="sprite search"></div>
                <div class="menu-list-search open-menu-list-animation">
                    <form name="search">
                        <input type="text" placeholder="Что ищем?" ng-model="markSearch.text">
                        <input type="button" value="search" ng-click="getSearch(markSearch)">
                    </form>
                </div>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 hidden-xs menu-cell">
                <a href="#"><div class="socseti sprite vk"></div></a>
                <a href="#"><div class="socseti sprite fb"></div></a>
                <a href="#"><div class="socseti sprite inst"></div></a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs menu-cell menu-language">
                <div>
                    <i ng-class="isRuLanguage?'flag-RU':'flag-GB'"></i>
                </div>
                <div class="menu-list open-menu-list-animation" style="text-align: center;">
                    <ul class="ul-language">
                        <li><i class="flag-RU" ng-click="changeRuLanguage()"></i></li>
                        <li><i class="flag-GB" ng-click="changeEngLanguage()"></i></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 hidden-md col-sm-2 col-xs-2"></div>
        </div>  
    </div>

    <!-- this is mobi menu -->
    <div class="mobi-menu" ng-show="mobiMenuVisible">
        <div class="close-mobi-menu" ng-click="mobiMenuVisible=0">X</div>
        <div><a href="#">#Alohafriends</a></div>
        <div class="journal">
            <span>Дневник</span>
            <div class="mobi-menu-list">
                <ul>
                    <li ng-repeat="country in countries"><a href="#/country/{{country.url}}">{{country.title}}</a></li>
                </ul>
            </div>
        </div>
        <div><a href="#/map">Карта</a></div>
        <div><a href="#/design">Проекты</a></div>
        <div><a href="#/design">Партнеры</a></div>
        <div><a href="#/contacts">Связь</a></div>
    </div>

    <!-- this are tituls for pages -->

    <div class="titul" id="titul">
        <span>
            #ALOHAFRIENDS
        </span><br/>
        <span>
            Wedding travel around the World
        </span>
    </div>
    <div class="country-name" id="country-name">{{country.title}}</div>
    <div class="article-name" id="article-name">{{article.title}}</div>

</header>