<header-dir></header-dir>

<div class="content-home" ng-show="isRu">
    <h1>Aloha friends!</h1><br>
    <p>
        Кажется, совсем недавно мы Настя и Даня создали свою семью.
    </p>
    <p>
        Целый год жили в душном городе, ходили на нелюбимую работу, делали то,  что нам говорили “боссы”. После года такой жизни мы поняли, что не хотим начинать совместную жизнь, тратя бесценное время. И мы приняли решение бросить все и уехать в большое путешествие по миру! На некоторые сбережения мы купили рюкзаки, палатку, билеты на самолет в один конец в райский уголок земли и отправились в путь колесить по миру. Мы давно мечтали о небольшом свадебном путешествии, а сейчас отправились в большой <b><i>Wedding travel aroud the World</i></b>.
    </p>
    <p>
        На нашем сайте можно найти впечатляющие истории из разных уголков планеты, крутые фотографии и много-много видео, благодаря которым с легкостью можно окунуться в путешествие вместе с нами!
    </p>
    <p>
      Погнали!  
    </p>

    <div class="message">
        IF YOU DON'T LIKE WERE YOU ARE - CHANGE IT. YOU ARE NOT TREE 
    </div>

    <div class="soc-seti-center">
<!--     <button id="vk_share_button"></button> -->
        <div class="vk-center" fb-dir id="vkShare" picture="/media/images/headfoto.png" name="#Alohafriends" description="Блог о кругосветнем свадебном путешествии"></div>
        <div class="fb-center" fb-dir id="fbShare" picture="/media/images/headfoto.png" name="#Alohafriends" description="Блог о кругосветнем свадебном путешествии">
            <img src="/media/images/fb.png" alt="">
        </div>
        <!-- <a class="sprite inst-center"></a> -->
    </div>
</div>

<div class="content-home" ng-show="!isRu">
    <h1>Aloha friends!</h1><br>
    <p>
        It seems, recently, we- Nastya and Danya have created our own family. 
    </p>
    <p>
        The whole year we were living in a stuffy city, going to the unpleasant job, doing what “bosses” told us. After one year of such life we have realized that we don’t want to start our common life spending our precious time on somebody else. We made a decision to leave everything behind us and go to a big trip around the world. We spent some savings on backpacks, tent and one way airplane tickets to the paradise on the Earth, and set out to have journey traveling around the world. Long time ago we had a dream to have a small Wedding trip, and now we are in a big <b><i>Wedding travel aroud the World</i></b>.
    </p>
    <p>
        On our site you can find impressive stories from all over the world, cool photos and videos, with the help of which you can easily plunge into the journey with us. 
    </p>
    <p>
      GO!   
    </p>

    <div class="message">
        IF YOU DON'T LIKE WERE YOU ARE - CHANGE IT. YOU ARE NOT TREE 
    </div>

    <div class="soc-seti-center">
<!--     <button id="vk_share_button"></button> -->
        <div class="vk-center" fb-dir id="vkShare" picture="/media/images/headfoto.png" name="#Alohafriends" description="Блог о кругосветнем свадебном путешествии"></div>
        <div class="fb-center" fb-dir id="fbShare" picture="/media/images/headfoto.png" name="#Alohafriends" description="Блог о кругосветнем свадебном путешествии">
            <img src="/media/images/fb.png" alt="">
        </div>
        <!-- <a class="sprite inst-center"></a> -->
    </div>
</div>