	<header>
		<div class="container-fluid">
			<div class="row menu">

				<div class="col-lg-1  hidden-md hidden-sm hidden-xs">
				</div>

				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 ">
					<a href="#/home">#Alohafriends</a>
				</div>

				<div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 menu-element">
					<a href="#">О нас</a>
					<div class="menu-element-list">
						<a href="#">Настя</a><br/>
						<a href="#">Данил</a>
					</div>
				</div>

				<div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 menu-element">
					<a href="#">Дневник</a>
					<div class="menu-element-list">
						<a href="#/country/maldives">Мальдивы</a><br/>
						<a href="#">Шри-Ланка</a>
					</div>
				</div>

				<div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
					<a href="#">Партнеры</a>
				</div>

				<div class="col-lg-1 col-md-2 col-sm-1 col-xs-12">
					<a href="#">Связь</a>
				</div>

				<div class="col-lg-2 hidden-md hidden-sm hidden-xs">
				</div>

				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
					<a href="#"><div class="sprite sprite-vk"></div></a>
					<a href="#"><div class="sprite sprite-fb"></div></a>
					<a href="#"><div class="sprite sprite-in"></div></a>
				</div>

				<div class="col-lg-1 hidden-md hidden-sm hidden-xs">
				</div>

			</div>
			<br/>
			<br/>

			<div class="row">
				<div class="col-lg-12 name-center">
					<span>#ALOHAFRIENDS</span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 advertising">
					<span>Wedding travel around the world</span>
				</div>
			</div>
			<br/><br/><br/><br/><br/>
			<div class="row">
				<div class="col-lg-12">
					<button class="button-header">Welcome</button>
				</div>
			</div>
		</div>		
	</header>
	
	</br>
	</br>

	<div class="container-fluid main home">
		<div class="row">
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 about">
				<h1>О нас</h1>
				<h3>Aloha friends!</h3>
				<p>Кажется, совсем недавно мы Настя и Даня создали свою семью. Целый год жили в душном городе, ходили на нелюбимую работу, делали то, что нам говорили “боссы”. После года такой жизни мы поняли, что не хотим начинать совместную жизнь, тратя бесценное время. И мы приняли решение бросить все и уехать в большое путешествие по миру! На некоторые сбережения мы купили рюкзаки, палатку, билеты на самолет в один конец в райский уголок земли и отправились в путь колесить по миру. Мы давно мечтали о небольшом свадебном путешествии, а сейчас отправились в большой Wedding travel aroud the World. На нашем сайте можно найти впечатляющие истории из разных уголков планеты, крутые фотографии и много-много видео, благодаря которым с легкостью можно окунуться в путешествие вместе с нами!</p>
				<p>Погнали!</p>
			</div>
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 marks">
				<h1>Метки:</h1>
				<a class="marker" ng-repeat="mark in marks" ng-href="{{mark.link}}">{{mark.name}}&nbsp;</a>
			</div>
		</div>
	</div>
