
        <div class="image">
            <img ng-src="{{image}}" alt="{{image}}" ng-click="nextImage()">
        </div>

    <div class="article-karusel">
        <div class="prew" ng-click="prewPhotos()"> <div><div> < </div></div> </div>
        <div class="karusel">
                <img ng-src="{{img}}" class="img-responsive" ng-repeat="img in article.photos" alt="{{img}}" ng-click="imageClick($index)">
        </div>
        <div class="next" ng-click="nextPhotos()"><div><div> > </div></div></div>
    </div>