<img ng-src="{{mainHeader}}" alt="" width="100%"  class="display__big">
<div class="header_big display__big">
  <div class="header_big__wrapper">       
    <menu-dir></menu-dir>
    <p class="header_big__title">#ALOHAFRIENDS</p>
    <p class="header_big__describe"><i>Wedding travel around the World</i></p>
    <div class="header_big__table">
      <p>IF YOU DON'T LIKE WHERE YOU ARE - <br>CHANGE IT.<br> YOU ARE NOT A TREE.</p>
    </div>
  </div>
</div>

<div class="main">
    <div class="header_average display__average">
      <img src="media/main_header.png" alt="" class="img-responsive" width="100%">    
      <menu-dir></menu-dir>
      <div class="header_average__content">
        <p class="header_average__title">#ALOHAFRIENDS</p>
        <p class="header_average__describe"><i>Wedding travel around the World</i></p>
        <div class="header_average__table">
          <p>IF YOU DON'T LIKE WHERE YOU ARE - <br>CHANGE IT.<br> YOU ARE NOT A TREE.</p>
        </div>        
      </div>
    </div>
    
    <!-- main_content -->

    <div class="main_content">
      <div class="trip_with_us">
        <p>ПУТЕШЕСТВУЙ ВМЕСТЕ С НАМИ</p>
      </div>

      <div class="main_content__countries">
        <div class="country_small">
          <div class="country__above">
            <a href="#"></a>
          </div>
          <div class="country__img">
            <img src="media/LAO_8133_1.png" alt="" height="100%">
            <div class="country__img_name">
              <div>
                <ul>
                  <li>Л</li>
                  <li>А</li>
                  <li>О</li>
                  <li>С</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="country__text">
            <h1>ЛАОС</h1>
            <p>Грязно, пыльно, жаднo. У каждого свой опыт. Грабитель. Максимальное погружение в культуру.</p>
            <a href="#">СМОТРЕТЬ ВСЕ</a>
          </div>
        </div>
        <div class="country_average">
          <div class="country__above">
            <a href="#"></a>
          </div>
          <div class="country__img">
            <img src="media/JPG_1208.png" alt="" height="100%">
            <div class="country__img_name">
              <div>
                <ul>
                  <li>Ш</li>
                  <li>Р</li>
                  <li>И</li>
                  <li>-</li>
                  <li>Л</li>
                  <li>А</li>
                  <li>Н</li>
                  <li>К</li>
                  <li>А</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="country__text">
            <h1>ШРИ-Ланка</h1>
            <p>Океан, пляжи, горы, леса, чайные плантации, водопады и многое другое. Удивительный остров.</p>
            <a href="#">СМОТРЕТЬ ВСЕ</a>
          </div>
        </div>

        <div class="country_big">
          <div class="country__above">
            <a href="#"></a>
          </div>
          <div class="country__img">
            <img src="media/IMG_1963.png" alt="" height="100%">
            <div class="country__img_name">
              <div>
                <ul>
                  <li>М</li>
                  <li>А</li>
                  <li>Л</li>
                  <li>Ь</li>
                  <li>Д</li>
                  <li>И</li>
                  <li>В</li>
                  <li>Ы</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="country__text">
            <h1>МАЛЬДИВЫ</h1>
            <p>Сбылась мечта и мы попали в райскую сказку.</p>
            <a href="#">СМОТРЕТЬ ВСЕ</a>
          </div>
          <div class="country__img_min">
            <img src="media/JPG_7891_1.png" alt="" height="100%">
          </div>
        </div>

        <div class="country_average">
          <div class="country__above">
            <a href="#"></a>
          </div>
          <div class="country__img">
            <img src="media/TAI_6571_0.png" alt="" height="100%">
            <div class="country__img_name">
              <div>
                <ul>
                  <li>Т</li>
                  <li>А</li>
                  <li>И</li>
                  <li>Л</li>
                  <li>А</li>
                  <li>Н</li>
                  <li>Д</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="country__text">
            <h1>ТАИЛАНД</h1>
            <p>Отличная страна. Очень добрые люди</p>
            <a href="#">СМОТРЕТЬ ВСЕ</a>
          </div>
        </div>
        <div class="country_small">
          <div class="country__above">
            <a href="#"></a>
          </div>
          <div class="country__img">
            <img src="media/KHM_0072.png" alt="" height="100%">
            <div class="country__img_name">
              <div>
                <ul>
                  <li>К</li>
                  <li>А</li>
                  <li>М</li>
                  <li>Б</li>
                  <li>О</li>
                  <li>Д</li>
                  <li>Ж</li>
                  <li>А</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="country__text">
            <h1>КАМБОДЖА</h1>
            <p>Бесплатный Ангор Ват. Райские пляжи.</p>
            <a href="#">СМОТРЕТЬ ВСЕ</a>
          </div>
        </div>
        <div class="both"></div>
      </div>
  
      <div class="have_gone">
        <div class="have_gone__cell">
          <p>325</p>
          <div></div>
          <p><i>Дней в пути</i></p>
        </div>
        <div class="have_gone__cell">
          <p>9</p>
          <div></div>
          <p><i>стран</i></p>
        </div>
        <div class="have_gone__cell">
          <p>34000 км</p>
          <div></div>
          <p><i>преодалено</i></p>
        </div>
        <div class="have_gone__cell">
          <p>25000 км</p>
          <div></div>
          <p><i>автостопом</i></p>
        </div>
      </div>

      <div class="welcome">WELCOME</div>

      <div class="trip_with_us">
        <p>СВЕЖИЕ НОВОСТИ</p>
      </div>

      <div class="socsetilinks">
        <div class="link"></div>
        <div class="link"></div>
        <div class="link"></div>
        <div class="link">
          <h1>Метки:</h1>
          <div class="marks">
            <a href="#">визы</a>
            <a href="#">аэропорт</a>
            <a href="#">транспорт</a>
            <a href="#">жилье</a>
            <a href="#">люди</a>
            <a href="#">фрукты</a>
            <a href="#">видео</a>
            <a href="#">чай</a>
            <a href="#">еда</a>
            <a href="#">горы</a>
            <a href="#">пляж</a>
            <a href="#">мысли</a>
            <a href="#">открытки</a>
            <a href="#">животные</a>
            <a href="#">мальдивы</a>
          </div>
        </div>
      </div>

    </div>

    <!-- main_content -->





<div class="both"></div>
</div>

<footer-dir></footer-dir>