<header-dir></header-dir>
<div class="map-content">
    <h1>{{dictionary.ourTravel}}:</h1>
    <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1MB3DMBhwZL0GzoFERGng9FiWcr4&ll=23.04871371461521%2C78.81507687500005&z=4" width="100%" height="480"></iframe>
    </div>

    <div class="soc-seti-center">
        <div class="vk-center" fb-dir id="vkShare" picture="/media/images/headfoto.png" name="#Alohafriends" description="Блог о кругосветнем свадебном путешествии"></div>
        <div class="fb-center" fb-dir id="fbShare" picture="/media/images/headfoto.png" name="#Alohafriends" description="Блог о кругосветнем свадебном путешествии">
            <img src="/media/images/fb.png" alt="">
        </div>
    </div>

</div>




