<nav id="primary_nav_wrap">
  <ul>
    <li class="current-menu-item"><a href="#">#ALOHAFRIENDS</a></li>
    <li><a href="#">ДНЕВНИК</a>
      <ul class="rgba0_8">
        <li class="dir"><a href="#">Азия</a>
          <ul>
            <li><a href="#">Мальдивы</a></li>
            <li><a href="#">Таиланд</a></li>
            <li><a href="#">Шри-Ланка</a></li>
            <li><a href="#">Бенгладеш</a></li>
          </ul>
        </li>
        <li class="dir"><a href="#">Австралия</a>
          <ul class="rgba0_8">
            <li><a href="#">Мальдивы</a></li>
            <li><a href="#">Таиланд</a></li>
            <li><a href="#">Шри-Ланка</a></li>
            <li><a href="#">Бенгладеш</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">ПОЛЕЗНОЕ</a>
    </li>
    <li>
      <a href="#">ПАРТНЕРЫ</a>
    </li>
    <li>
      <a href="#">О НАС</a>
    </li>
    <li>
      <a href="#">СВЯЗЬ</a>
    </li> 
  </ul>
</nav>

<nav id="primary_nav_wrap_right">
    <ul>
        <li class="li-ss">
            <a href="#"><div class="ss ss-vk"></div></a>
        </li>
        <li class="li-ss">
            <a href="#"><div class="ss ss-fb"></div></a>
        </li>
        <li class="li-ss">
            <a href="#"><div class="ss ss-inst"></div></a>
        </li>
        <li class="li-ss">
            <a href="#"><div class="ss ss-you"></div></a>
        </li>
        <li class="nav_flag text-center">
            <i class="flag-RU text-center"></i>
            <ul>
                <li class="flag_li" style="width:50px; display:table;">
                    <a href="#" class="i_top"><i class="flag-RU"></i></a>
                </li>
                <li class="flag_li" style="width:50px">
                    <a href="#" class="i_top"><i class="flag-GB"></i></a>
                </li>
            </ul>
        </li>
    </ul>
</nav>