<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <form name="registrationForm" novalidate>
                <p>Имя пользователя</p>
                <input 
                    type="text"
                    pattern="^[a-zA-Z0-9]+$" 
                    name="name" 
                    required 
                    ng-model="newUser.name" 
                    ng-minlength="5" 
                    ng-maxlength="15" 
                    ng-class="{'input-wrong': !registrationForm.name.$pristine && (registrationForm.name.$error.minlength || registrationForm.name.$error.maxlength || registrationForm.name.$invalid) }">
                    <span ng-show="!registrationForm.name.$pristine && (registrationForm.name.$error.minlength || registrationForm.name.$error.maxlength || registrationForm.name.$invalid)">Набор из букв и цифр, длина от 5 до 15 символов</span>
                <p>амеил</p>
                <input  
                    name="email" 
                    type="email" 
                    required
                    ng-model="newUser.email" 
                    ng-class="{'input-wrong': !registrationForm.email.$pristine && registrationForm.email.$invalid}">
                    <span ng-show="!registrationForm.email.$pristine && registrationForm.email.$invalid">в формате adress@XXX.YYY</span>
                <p>Имя</p>
                <input type="text" 
                    name="first_name" 
                    ng-maxlength="15"
                    required
                    ng-model="newUser.first_name"
                    ng-class="{'input-wrong': !registrationForm.first_name.$pristine && ( registrationForm.name.$error.maxlength || registrationForm.first_name.$invalid) }">
                    <span ng-show="!registrationForm.first_name.$pristine && (registrationForm.name.$error.maxlength || registrationForm.first_name.$invalid)">Неболее 15 символов</span>
                <p>Фамилия</p>
                <input 
                    type="text" 
                    name="last_name"
                    required 
                    ng-maxlength="15"
                    ng-model="newUser.last_name"
                    ng-class="{'input-wrong': !registrationForm.last_name.$pristine && (registrationForm.name.$error.maxlength || registrationForm.last_name.$invalid) }">
                    <span ng-show="!registrationForm.last_name.$pristine && (registrationForm.name.$error.maxlength || registrationForm.last_name.$invalid)">Неболее 15 символов</span>
                <p>пароль</p>
                <input 
                    type="password" 
                    name="password" 
                    pattern="^[a-zA-Z0-9]+$" 
                    ng-minlength="8" 
                    ng-maxlength="15" 
                    required
                    ng-model="newUser.password" 
                    ng-class="{'input-wrong':!registrationForm.password.$pristine &&( registrationForm.password.$error.minlength || registrationForm.password.$error.maxlength || registrationForm.password.$invalid)}">
                    <span ng-show="!registrationForm.password.$pristine && (registrationForm.password.$error.minlength || registrationForm.password.$error.maxlength || registrationForm.password.$invalid)">Строчные и прописные латинские буквы, цифры, от 8 до 15 символов</span>
                <p>повторите пароль</p>
                <input 
                    type="password" 
                    name="passwordRepeated" 
                    required
                    ng-model="newUser.passwordRepeated" 
                    ng-class="{'input-wrong':newUser.password != newUser.passwordRepeated}">
                    <span ng-show="newUser.password != newUser.passwordRepeated">Повторите пароль</span><br>
                <input 
                    type="submit" 
                    value="Зарегистрируйте меня"
                    ng-disabled="registrationForm.$invalid"
                    ng-click="createUser(newUser)"/>
            </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
    </div>
</div>