            <div class="row">
                <div class="col-lg-12 name-center">
                    <span>#ALOHAFRIENDS</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 advertising">
                    <span>Wedding travel around the world</span>
                </div>
            </div>
            <br/><br/><br/><br/><br/>
            <div class="row">
                <div class="col-lg-12">
                    <button class="button-header">Welcome</button>
                </div>
            </div>