<div class="container-fluid main country">
    <div class="row" ng-repeat="video in videos">
        <br/>
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <iframe  src="https://www.youtube.com/embed/egOXinm171Q" frameborder="0" allowfullscreen align="middle"></iframe>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 marks">
            <h3>{{article.title}}</h3>
            <p class="article-text">{{article.text}}</p>
            <h3>Метки:</h3>
            <a class="marker" ng-repeat="mark in article.marks">{{mark}}&nbsp;</a>
        </div>
        <div class="col-lg-1 col-md-1"></div>   
    </div>
</div>



