<div menu-dir></div>

<div class="container communication">
    <div class="row">
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        <h2>Как с нами связаться?</h2>
        <br/>
        <br/>
        <p>Связаться с нами легко и просто.
        Мы есть в соцсетях. Также можно отправить письмо к нам на почту!</p>
        <p>Мы всегда отвечаем на все письма сразу, правда, иногда мы можем быть в пути и у нас нет доступа к интернету. Поэтому запаситесь терпением и мы обязательно ответим!</p>
        </br>
        </br>
        <b>email: dropallandlive@gmail.com</b>
        </br>
        <b>Vkontacte: <a href="#">vk.com/alohafriendss</a></b></br>
        <b>Facebook: <a href="#">facebook.com/alohafriendss</a></b></br>
        <b>Instagram Насти:</b></br>
        <b>Instagram Дани:</b></br>
        <b>Youtube: </b></br>
        <b>Periscope:</b></br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
    </div>
</div>

